@model HyrBil.Models.Booking

@{
    ViewData["Title"] = "Betala bokning";
}

<h2>Betala bokning för @Model.Car.RegNr.ToUpper()</h2>

<hr />
<h4>Bilens storlek: @Model.Car.CarSize</h4>
<h4>Mätarställning vid bokning: @Model.Car.CurrentDistance</h4>
<h4>Kundens personnummer: @Model.Customer.PNr</h4>
<h4>Kundens namn: @Model.Customer.FirstName @Model.Customer.LastName</h4>
<h4>Bokningsadatum: @Model.BookingDate</h4>
<h4>Återlämningsdatum: @Model.ReturnDate</h4>
<h4>Antal km kunden har kört: @Model.Car.Mileage</h4>
<hr />
<h4>@ViewBag.TheCost</h4>
<form asp-action="TakePayment" method="post">
    <input type="hidden" asp-for="Id" />


    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Betalt</button>
    </div>

</form>
